<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{url_for('static', filename="style.css")}}">
        <title>Dashboard</title>
    </head>
    <body>
        <div class="container dashboard">
            <div class="header">
                <h1>Coding Dojo Wall</h1>
                <h1>Welcome {{user.first_name}}!!!!</h1>
                <a href="/logout"><button class="logout">Logout</button></a>
            </div>
            <div class="message-board">
                <div>
                    <h3><span>{{messages|length}}</span> Messages</h3>
                    {% for message in messages %}
                        <div>
                            <div>
                                <p>{{message.friend_first_name}} {{message.friend_last_name}} said </p>
                                <p>"{{message.content}}"</p>
                            </div>
                            <a href="/message/remove/{{message.id}}"><button>Remove</button></a>
                        </div>
                    {% endfor %}
                    
                </div>
                <div>
                    <h3>Send Messages</h3>
                    {% for user in friends %}
                        <form action="/send/{{user.id}}/{{user.friend_id}}" method="post" class="message-form">
                            <div>
                                <label for="message">{{user.friend_first_name}} {{user.friend_last_name}}</label>
                                <textarea name="message" rows="3" cols="4" wrap="hard"></textarea>
                                {% for error in get_flashed_messages(category_filter=[user.friend_id]) %}
                                    <p class="error">{{error}}<p>
                                {% endfor %}
                            </div>
                            <div>
                                <input type="submit" value="Send"/>
                            </div>
                        </form>
                    {% endfor %}
                </div>
                <div>
                    <h3>Possible Friends</h3>
                    {% for friend in possibles %}
                        <div class="possible-friend">
                            <p>{{friend.first_name}} {{friend.last_name}}</p>
                            <a href="/addFriend/{{user.id}}/{{friend.id}}"><button>Add as a friend</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>